/*.suo
/JsonPrettyPrinterPlus.sln.DotSettings.user
/JsonPrettyPrinterPlus/bin/Debug/JsonPrettyPrinterPlus.dll
/JsonPrettyPrinterPlus/bin/Debug/JsonPrettyPrinterPlus.pdb
/JsonPrettyPrinterPlus/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/JsonPrettyPrinterPlus/obj/Debug/JsonPrettyPrinterPlus.csproj.FileListAbsolute.txt
/JsonPrettyPrinterPlus/obj/Debug/JsonPrettyPrinterPlus.csprojResolveAssemblyReference.cache
/JsonPrettyPrinterPlus/obj/Debug/JsonPrettyPrinterPlus.dll
/JsonPrettyPrinterPlus/obj/Debug/JsonPrettyPrinterPlus.pdb
/JsonPrettyPrinterPlusTests/JsonPrettyPrinterPlusTests.csproj.user
/JsonPrettyPrinterPlusTests/bin/Debug/JsonPrettyPrinterPlus.dll
/JsonPrettyPrinterPlusTests/bin/Debug/JsonPrettyPrinterPlus.pdb
/JsonPrettyPrinterPlusTests/bin/Debug/JsonPrettyPrinterPlusTests.dll
/JsonPrettyPrinterPlusTests/bin/Debug/JsonPrettyPrinterPlusTests.pdb
/JsonPrettyPrinterPlusTests/bin/Debug/nunit.framework.dll
/JsonPrettyPrinterPlusTests/bin/Debug/nunit.framework.xml
/JsonPrettyPrinterPlusTests/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/JsonPrettyPrinterPlusTests/obj/Debug/JsonPrettyPrinterPlusTests.csproj.FileListAbsolute.txt
/JsonPrettyPrinterPlusTests/obj/Debug/JsonPrettyPrinterPlusTests.csprojResolveAssemblyReference.cache
/JsonPrettyPrinterPlusTests/obj/Debug/JsonPrettyPrinterPlusTests.dll
/JsonPrettyPrinterPlusTests/obj/Debug/JsonPrettyPrinterPlusTests.pdb
